$icomoon-font-family: "NsFont" !default;
$icomoon-font-path: "fonts" !default;

$ns-icon-terms-of-use: "\e98c";
$ns-icon-admin-users: "\e97e";
$ns-icon-back-to-cart: "\e97f";
$ns-icon-Cummunication-log: "\e980";
$ns-icon-customer-users: "\e981";
$ns-icon-Custom-filter: "\e982";
$ns-icon-display-info: "\e983";
$ns-icon-file-checking: "\e984";
$ns-icon-orders: "\e985";
$ns-icon-payments: "\e986";
$ns-icon-ppr-info: "\e987";
$ns-icon-reports: "\e988";
$ns-icon-testmonial: "\e989";
$ns-icon-user-address: "\e98a";
$ns-icon-user-address-1: "\e98b";
$ns-icon-Added-to-list: "\e97d";
$ns-icon-down: "\e97b";
$ns-icon-up: "\e97c";
$ns-icon-redo: "\e957";
$ns-icon-retry: "\e979";
$ns-icon-undo: "\e97a";
$ns-icon-blog: "\e96e";
$ns-icon-Comments: "\e96f";
$ns-icon-dashboard: "\e970";
$ns-icon-file: "\e971";
$ns-icon-folder-thumbnail: "\e972";
$ns-icon-news: "\e973";
$ns-icon-Promotions: "\e974";
$ns-icon-reply: "\e975";
$ns-icon-single-pages: "\e976";
$ns-icon-slider: "\e977";
$ns-icon-testmonial-1: "\e978";
$ns-icon-account: "\e900";
$ns-icon-add: "\e901";
$ns-icon-address: "\e902";
$ns-icon-align-center-horizontal: "\e903";
$ns-icon-align-center-vertical: "\e904";
$ns-icon-align-down: "\e905";
$ns-icon-align-left: "\e906";
$ns-icon-align-right: "\e907";
$ns-icon-align-top: "\e908";
$ns-icon-archived-order: "\e909";
$ns-icon-auto-delivery-setting: "\e90a";
$ns-icon-avatar: "\e90b";
$ns-icon-back: "\e90c";
$ns-icon-back-thin: "\e90d";
$ns-icon-call: "\e90e";
$ns-icon-cart: "\e90f";
$ns-icon-change: "\e910";
$ns-icon-change-file: "\e911";
$ns-icon-change-password: "\e912";
$ns-icon-choose-file: "\e913";
$ns-icon-circle-confirm: "\e914";
$ns-icon-close: "\e915";
$ns-icon-computer: "\e916";
$ns-icon-confirm: "\e917";
$ns-icon-copy: "\e918";
$ns-icon-courier: "\e919";
$ns-icon-credit: "\e91a";
$ns-icon-cretical: "\e91b";
$ns-icon-cut: "\e91c";
$ns-icon-delete: "\e91d";
$ns-icon-delivery-request: "\e91e";
$ns-icon-details: "\e91f";
$ns-icon-dis-select-all: "\e920";
$ns-icon-double-quotation-left: "\e921";
$ns-icon-double-quotation-right: "\e922";
$ns-icon-download: "\e923";
$ns-icon-drag-drop: "\e924";
$ns-icon-edit: "\e925";
$ns-icon-email: "\e926";
$ns-icon-exclemation: "\e927";
$ns-icon-expand-down: "\e928";
$ns-icon-expand-left: "\e929";
$ns-icon-expand-right: "\e92a";
$ns-icon-expand-up: "\e92b";
$ns-icon-files-manager: "\e92c";
$ns-icon-filter: "\e92d";
$ns-icon-financial-report: "\e92e";
$ns-icon-find-orders: "\e92f";
$ns-icon-fit: "\e930";
$ns-icon-flip-horizontal: "\e931";
$ns-icon-flip-vertical: "\e932";
$ns-icon-folder: "\e933";
$ns-icon-frequently-question: "\e934";
$ns-icon-home: "\e935";
$ns-icon-increase-credit: "\e936";
$ns-icon-information: "\e937";
$ns-icon-inproccess-order: "\e938";
$ns-icon-invoice-details: "\e939";
$ns-icon-jpg-file: "\e93a";
$ns-icon-large-view: "\e93b";
$ns-icon-menu: "\e93c";
$ns-icon-minus: "\e93d";
$ns-icon-more: "\e93e";
$ns-icon-my-orders: "\e93f";
$ns-icon-new-folder: "\e940";
$ns-icon-next: "\e941";
$ns-icon-next-thin: "\e942";
$ns-icon-no-item-selected: "\e943";
$ns-icon-notification-setting: "\e944";
$ns-icon-open-folder: "\e945";
$ns-icon-paste: "\e946";
$ns-icon-payment: "\e947";
$ns-icon-pdf-file: "\e948";
$ns-icon-pdf-thumbnail: "\e949";
$ns-icon-picture-thumbnail: "\e94a";
$ns-icon-pie-chart: "\e94b";
$ns-icon-plus: "\e94c";
$ns-icon-preparing-order: "\e94d";
$ns-icon-print: "\e94e";
$ns-icon-privacy-policy: "\e94f";
$ns-icon-product-details: "\e950";
$ns-icon-profile-information: "\e951";
$ns-icon-question: "\e952";
$ns-icon-ready-order: "\e953";
$ns-icon-refresh: "\e954";
$ns-icon-rename: "\e955";
$ns-icon-resize: "\e956";
$ns-icon-rotate-ccw: "\e958";
$ns-icon-rotate-cw: "\e959";
$ns-icon-rounded-corner: "\e95a";
$ns-icon-save: "\e95b";
$ns-icon-scroll-up: "\e95c";
$ns-icon-search: "\e95d";
$ns-icon-security-setting: "\e95e";
$ns-icon-select-all: "\e95f";
$ns-icon-sending-setting: "\e960";
$ns-icon-setting: "\e961";
$ns-icon-sign-in: "\e962";
$ns-icon-sign-out: "\e963";
$ns-icon-small-view: "\e964";
$ns-icon-sms: "\e965";
$ns-icon-sort-by: "\e966";
$ns-icon-square-corner: "\e967";
$ns-icon-start-ordering: "\e968";
$ns-icon-sub-accounts: "\e969";
$ns-icon-support: "\e96a";
$ns-icon-tif-file: "\e96b";
$ns-icon-upload: "\e96c";
$ns-icon-warranty-terms: "\e96d";