.my-spinner {
    width: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.my-renderer {
    margin-left: 20px;
}

.btn-icon-detail{
    border: none !important;
    width: fit-content !important;
    height: fit-content !important;
    background-color: transparent !important;
    outline: none !important;
    font-size: 1.5rem !important;
}