$color-ccc:#ccc;
$color-eee:#eee;
$color-000:#000;
$color-000-50:rgba(0,0,0,.5);
$color-f5f5f5:#f5f5f5;
$color-fff:#fff;
$color-red:#e90404;
$color-red-dark:#c70909;

.bg-f5f5f5{
    background-color: $color-f5f5f5;
}

.search-input{
    outline: none;
    border: none;
}

.h2,.h3,.h4,.h5,.h6{
    margin: 0 !important;
}

.bg-red-dark{
    background-color: $color-red-dark;
}

.bg-000{
    background-color: $color-000;
}

.ns-icon-search{
    color: $color-000-50;
}

.my-spinner {
    width: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.my-renderer {
    margin-left: 20px;
}

.btn-red{
    border: 1px solid $color-red-dark;
    outline: none;
    background-color:$color-red-dark;
    color: $color-fff;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px 10px;
}

.btn-icon-detail{
    border: none !important;
    width: fit-content !important;
    height: fit-content !important;
    background-color: transparent !important;
    outline: none !important;
    font-size: 1.5rem !important;
}

.css-1gsv261{
    border-bottom:none !important
}

.css-1aquho2-MuiTabs-indicator{
    background-color: $color-red-dark !important;
}

.width-hright-25{
    width: 35px !important;
    height: 30px !important;
    padding: 5px;
}

.element-under-grid{
    background-color: $color-eee;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid $color-ccc;
}

.bg-ccc{
    background-color: $color-ccc;
}

.css-1869usk-MuiFormControl-root{
    min-width: 25px !important;
    margin: 0 !important;
}

.font-size-18{
    font-size: 18px !important;
}

.ag-layout-normal{
    height: auto !important;
    min-height: 300px !important;
}

.ag-cell-auto-height.ag-cell-wrap-text, .ag-cell-value{
    line-height: 1.7rem;
    padding: 5px 7px;
    word-wrap: nowrap;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    font-size: .75rem !important;
    color: $color-000-50 !important;
    padding: 12px 45px !important;
    font-weight: normal !important;
    text-transform: none !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: $color-000 !important;
    font-weight: bold !important;
}